@page
@model TestingProject.Pages.CreateTestModel

<form method="post">
    <div class="mb-3">
        <label asp-for="TestName"></label>
        <input asp-for="TestName" class="form-control" />
    </div>

    <div class="mb-3">
        <label asp-for="Description"></label>
        <textarea asp-for="Description" class="form-control"></textarea>
    </div>

    <button type="submit" class="btn btn-primary">
        Сохранить тест
    </button>
</form>
